<h1>Gryffindor</h1>

<% @users.each do |user| %>
  <h2><%= user.name %></h2>
  <h2><%= user.pet %></h2>
<% end %>

<% @indi_spells.each do |spell| %>
  <h2><%= spell.name %></h2>
  <h2><%= spell.catagory %></h2>
<% end %>