<!-- <h1>Welcome to the Great Hall!</h1> -->

<%= link_to "Gryffindor", "/great_hall/gryffindor" %>
<%= link_to "Hufflepuff", "/great_hall/hufflepuff" %>
<%= link_to "Ravenclaw", "/great_hall/ravenclaw" %>
<%= link_to "Slytherin", "/great_hall/slytherin" %>

<div class="hall-banner hall-red"></div>
<div class="hall-banner hall-yellow"></div>
<div class="hall-banner hall-blue"></div>
<div class="hall-banner hall-green"></div>