

<section>
 <!--  <div class="banner black-one">col</div> -->
  <div class="banner red"></div>
  <div class="banner yellow"></div>
  <div id="scroll">
    <h1>Welcome to Hogwarts</h1>
    <br><br>
    <p>To our new students, welcome and <%= render 'devise/menu/registration_items' %></p>
    <br>
    <p>To our old hats, <%= render 'devise/menu/login_items' %></p>

  </div>
  <div class="banner blue"></div>
  <div class="banner green"></div>
<!--   <div class="banner black-two">col</div> -->
</section>
