// Place all the styles related to the gryffindor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.right {
  display: inline-block;
  float: right;
  margin-right: 17%;
  padding: 30px;
  width: 25%;
  height: 600px;
  font-family: "Apple Chancery";
  margin-bottom: 55px;
  h3 {
    position: relative;
    text-decoration: underline;
    text-align: center;
  }
  p {
    position: relative;
    font-family: "Apple Chancery";
    font-size: 20px;
  }
  .desc {
    position: relative;
    font-size: 15px;
  }
}

.left {
  display: inline-block;
  float: left;
  margin-left: 17%;
  padding: 30px;
  width: 25%;
  height: 600px;
  font-family: "Apple Chancery";
  margin-bottom: 55px;
  h3 {
    position: relative;
    text-decoration: underline;
    text-align: center;
  }
  p {
    position: relative;
    font-family: "Apple Chancery";
    font-size: 20px;
  }
}

.parchment-right {
  position: absolute;
  width: 490px;
  right: 12%;
  top: 30px;
}

.parchment-left {
  position: absolute;
  width: 490px;
  left: 12%;
  top: 30px;
}

#gryf-body {
  background: url('/assets/gryffindor_background.png');
  position: absolute;
  width: 100%;
}

h1 {
  text-align: center;
  font-family: "Luminari";
}