/*// Place all the styles related to the hufflepuff controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/


#huff-body {
  background: url('/assets/hufflepuff_background.png');
  position: absolute;
  width: 100%;
  height: 725px;
}
