// Place all the styles related to the ravenclaw controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#raven-body {
  background: url('/assets/ravenclaw_background.png');
  position: absolute;
  width: 100%;
}
