#sesh-scroll {
  position: absolute;
  top: 195px;
  left: 39%;
  width: 22%;
  height: 350px;
  display: inline-block;
  z-index: 1;
  padding: 6px;
  h1 {
    text-align: center;
    position: relative;
    margin-top: 58px;
    font-family: "Savoye LET";
    color: green;
    font-size: 40px;
  }
  p {
    text-align: center;
    position: relative;
    font-size: 20px;
    font-family: "Savoye LET";
    color: green;
    font-size: 30px;
  }
  #sesh-scroll-img {
    position: absolute;
    z-index: -1;
  }
  h2 {
    position: relative;
    font-family: "Savoye LET";
    text-align: center;
    padding-top: 32px;
    color: green;
  }
  label {
    position: relative;
    display: inline-block;
    font-family: "Savoye LET";
    color: green;
  }
  input {
    position: relative;
    display: inline-block;
    font-family: "Savoye LET";
    height: 22px;
    padding-top: 5px;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: #9a9a9a;
    background-color: white;
    padding-left: 6px;
  }
  a {
    position: relative;
    font-family: "Savoye LET";
    margin-left: 27px;
    font-size: 20px;
    color: green;
  }
  form {
    position: relative;
    padding-left: 27px;
    font-size: 20px;
    .actions {
      font-family: "Savoye LET";
      color: green;
    }
  }
}

 