// Place all the styles related to the slytherin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#slyth-body {
  background: url('/assets/slytherin_background.png');
  position: absolute;
  width: 100%;
}
