// Place all the styles related to the slytherin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.right {
  display: inline-block;
  float: right;
  background-color: white;
  margin-right: 17%;
  padding: 30px;
  width: 25%;
  height: 600px;
  font-family: "Apple Chancery";
  margin-bottom: 55px;
  h3 {
    text-decoration: underline;
    text-align: center;
  }
  p {
    font-family: "Apple Chancery";
    font-size: 20px;
  }
  .desc {
    font-size: 15px;
  }
}

.left {
  display: inline-block;
  float: left;
  background-color: white;
  margin-left: 17%;
  padding: 30px;
  width: 25%;
  height: 600px;
  font-family: "Apple Chancery";
  margin-bottom: 55px;
  h3 {
    text-decoration: underline;
    text-align: center;
  }
  p {
    font-family: "Apple Chancery";
    font-size: 20px;
  }
}

#slyth-body {
  background: url('/assets/slytherin_background.png');
  position: absolute;
  width: 100%;
}

h1 {
  text-align: center;
  font-family: "Luminari";
}