// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  background-color: black;
  margin: 0;
}

#scroll {
  position: absolute;
  top: 195px;
  left: 39%;
  width: 22%;
  height: 350px;
  display: inline-block;
  z-index: 1;
  padding: 6px;
  h1 {
    text-align: center;
    position: relative;
    margin-top: 58px;
  }
  p {
    text-align: center;
    position: relative;
    font-size: 20px;
  }
  #scroll-img {
    position: absolute;
  }
}

.black-one {
  background-color: black;
  left: 0;
}

.black-two {
  background-color: black;
  right: 0;
}

.green {
  background: linear-gradient(to right, #0a6f02 , #10884a);
  right: 24%;
}

.red {
  background: linear-gradient(to right, red , #ea4b4b);
  left: 24%;
}

.house-badge {
  width: 100%;
  position: relative;
  top: 40%;
}

.yellow {
  background: linear-gradient(to right, yellow , #fff6b3);
  left: 33%;
}

.blue {
  background: linear-gradient(to right, #02589c , #408bc5);
  right: 33%;
}

.banner {
  display: inline-block;
  width: 8%;
  height: 715px;
  padding: 0px;
  position: absolute;
}
